.painel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.controles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controles input {
    width: 50px;
}


svg {
    border: 1px solid black;
    border-radius: 10px;
}
